html {
  font-weight: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  box-sizing: border-box;
}

/***************************************
              NAV BAR SECTION 
  /**************************************/

.main-nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main-nav__title {
  color: #335576;
  padding-left: 5rem;
}

.main-nav__item {
  list-style: none;
  display: inline-flex;
  padding-right: 1rem;
}

.main-nav__link--last {
  margin-right: 5rem;
}

/** color nav bar links and under border **/

.main-nav__link {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.main-nav__link--selected {
  border-bottom: 2px solid #db7a4e;
}

/***************************************
        FOOTER SECTION 
***************************************/

.footer {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
}

.footer-container__head,
.footer-container__description,
.footer-container__picture {
  color: #335576;
}

.footer-container__head {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.footer-container__description {
  display: inline-flex;
  font-size: 14px;
}
.footer-container__picture {
  text-decoration: none;
  max-height: 1.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.footer-container__description,
.footer-container__picture {
  margin-bottom: 2.5rem;
}
