/***************************************
            HERO SECTION 
/****************************************/

.hero-section {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-evenly;
}

.hero-section__text,
.hero-section__container {
  margin-bottom: 5rem;
}

/** specific to hero text **/

.hero-section__text {
  text-align: left;
  color: #335576;
  margin-top: 6rem;
}

.hero-section__title {
  font-size: 2.2rem;
  margin-bottom: 1.7rem;
}

.hero-section__description {
  font-size: 0.86rem;
  margin-bottom: 1.5rem;
}

/** specific to hero image **/

.hero-section__container {
  justify-content: flex-end;
  margin-top: 2.5rem;
}

.hero-section__container-image {
  max-width: 28rem;
  max-height: 28rem;
}

/** specific to button **/

.hero-section__button {
  color: #fff;
  background-color: #db7a4e;
  padding: 0.5rem 2rem;
  border-radius: 12.5rem;
  border: none;
}

/***************************************
        RECOMMENDATIONS SECTION 
***************************************/

.rec {
  height: 30rem;
}

.rec__title,
.rec__inner-title {
  color: #335576;
}

.rec__title {
  margin-top: 2.6rem;
  padding-left: 4.5rem;
}

.rec__container {
  display: flex;
  justify-content: center;
}

.rec__link {
  text-decoration: none;
}

.rec__card {
  margin-top: 1.8rem;
  width: 14.35rem;
  height: 22rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.063rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.313rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  margin-right: 2.188rem;
  margin-left: 0.625;
}

.rec__card--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}
.rec__card--iceland {
  background-image: url(../assets/Images/iceland.jpg);
}
.rec__card--greece {
  background-image: url(../assets/Images/greece.jpg);
  margin-right: 0;
}

.rec__inner-title {
  margin-top: 19.75rem;
  color: #fff;
  padding-left: 8rem;
}

/*************/
